{% extends 'front/base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block body %}
	<section class="container mt-5">
		<h1 class="my-4">Contactez-nous</h1>

		<p class="text">Nous sommes ravis de vous entendre ! Contactez-nous pour toute question, réservation ou simplement pour partager votre enthousiasme. Notre équipe est là pour rendre votre séjour encore plus mémorable. À bientôt !</p>


		<div class="mt-4">
			<p class="d-inline-flex gap-1">
				<button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					Ecrivez-nous
				</button>
			</p>
			<div class="collapse" id="collapseExample">
				<div class="col-6">
					{{ form(form) }}
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d141041.461466266!2d-8.202039128006012!3d31.55241753933074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdafee8d96179e51%3A0x5950b6534f87adb8!2sMarrakech%2C%20Maroc!5e0!3m2!1sfr!2sfr!4v1704281514178!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mt-4"></iframe>
		</section>


	{% endblock %}
