{% extends 'front/base.html.twig' %}

{% block title %}Mention legal
{% endblock %}

{% block body %}

	<div class="container my-4">
		<h1 class="my-4 text-center my-4">Mentions Légales</h1>
		<p class="text-center">Mentions Légales <br>
			<br>
			SUN&FUN <br>
			31 Av. George V, 75008 Paris <br>
			Code postal, Ville, Pays <br>
			Téléphone : + 33 1 34 67 88 <br>
			Email :sunandfun.chambre@example.com <br>
			<br>
			Directeur de la publication : Tarik BENAAMIMI <br>
			RCS [Numéro RCS de l'Hôtel] <br>
			TVA intracommunautaire : numero xxxxxxx xxxxx xxxxxxxx <br>
			<br>
			Hébergeur du site : <br>
			[Scalingo] <br>
			Adresse de l'hébergeur <br>
			Code postal, Ville, Pays <br>
			Téléphone : + 33 1 23 57 89 <br>
			Email : contact@hebergeur.com <br>
			<br>
			Le présent site internet est la propriété de SUN&FUN. Tous droits réservés.<br>
			
			Droits d'auteur et Propriété intellectuelle : <br>
			Tous les contenus de ce site (textes, images, vidéos, etc.) sont protégés par les lois sur la propriété intellectuelle. Toute reproduction ou utilisation non autorisée de ces contenus est strictement interdite et peut donner lieu à des poursuites judiciaires.<br>
            <br>
			
			Politique de confidentialité :
			Pour plus d'informations sur notre politique de confidentialité et sur la collecte de données personnelles, veuillez vous référer à notre page dédiée à la politique de confidentialité. <br>
			<br>
			Pour toute question ou réclamation, veuillez nous contacter à l'adresse email indiquée ci-dessus. <br>
			<br>
			Date de dernière mise à jour : 11/11/2023

		</p>
	</div>


{% endblock %}
