{% extends 'front/base.html.twig' %}

{% block title %}Chambres
{% endblock %}

{% block body %}


	<div id="video" class="position-relative">
		<video autoplay loop muted class="d-block w-100" src="{{asset("video/chambre.mp4")}}"></video>
		<div class="position-absolute top-50 start-50 translate-middle text-center">
			<h1 class="text-light">Réservez votre chambre</h1>
		</div>
	</div>


	<div class="container">
		<h2 class="text-center mt-5">Nos chambres disponible</h2>

			<p class="mb-3 text-center">{{ chambres|length }}
				Chambres disponible</p>
			<hr>


		<div class="row row-cols-1 row-cols-md-2 g-4">

			{% if chambres is empty %}

				<p class="text-center">Aucune chambre n'est disponible actuellement.</p>

			{% else %}

				{% for chambre in chambres %}

					{% include "front/chambre/_chambre_card.html.twig" %}

				{% endfor %}

			{% endif %}

		</div>
	</div>


{% endblock %}
