{% extends "admin/base.html.twig" %}

{% block title %}
	Contact
{% endblock %}

{% block body %}
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-8">
				<div class="text-block mt-4">
					<p class="fst-italic">{{ contact.email }}</p>
					<p class="fs-2">{{ contact.contenu }}</p>
				</div>
			</div>
		</div>		
	</div>


{% endblock %}
